h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color: rgba(255,255,255, 0.8);
  text-shadow: 0 0 20px rgba(255,255,255,0.3);
}
h5{
  font-family: 'Literata', serif;
}
.margin-top{
  padding-top: 25vh;
}
#content{
  background-image: url("../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  transition: all 0.5s ease;
}
header {
  background-image: url("../../assets/img/headerPlant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease;
  h1{
    transition: all 0.5s ease;
  }
}
.bigHeader{
  padding: 4vh 0;
  h1 {
    font-size: 90px;
    text-align: center;
    letter-spacing: 80px;
  }
}
.smallHeader{
  padding: 1vh 0;
  h1 {
    font-size: 50px;
    letter-spacing: 30px;
  }
}
footer{
  background-image: url("../../assets/img/footerPlant.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 6vh 0;
  h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
  }
}
.searchButton{
  font-family: 'Literata', serif;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #042d0a;
  a {
    color: white !important;
  }
}
h2, h3, h4, p {
  font-family: 'Literata', serif;
}
.pointer {
  cursor: pointer;
}